* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
}
.container {
  /* background-color: #d9afd9; */
  /* width: 100%;
  height: 100%; */
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding-bottom: 20px;
}

.box {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 17rem);
  gap: 2rem;
  margin: 1.4rem;
}
.box1 {
  background-color: antiquewhite;
  border-radius: 2rem;
  padding: 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

img {
  width: 200px;
  height: 250px;
  border-radius: 20px;
}
figure {
  overflow: hidden;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.5);
  transition: all 1s ease-in-out;
}
p {
  margin-top: 1rem;
  font-family: "Hubballi", cursive;
  text-shadow: 2px 2px 4px #000000;
}
h1 {
  font-family: "Hubballi", cursive;
  text-shadow: 2px 2px 4px #000000;
}
.text {
  text-shadow: 2px 2px 4px #000000;
}
